<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<script src="//mozilla.github.io/pdf.js/build/pdf.js"></script>

<h1>PDF PLAY</h1>

<div>
  <button id="prev">Previous</button>
  <button id="next">Next</button>
  &nbsp; &nbsp;
  <span>Page: <span id="page_num"></span> / <span id="page_count"></span></span>
</div>

<canvas id="the-canvas"></canvas>
</body>
<script src="../static/js/pdfmain.js"></script>
<script src="../static/js/pdf.js"></script>

<style>
    #the-canvas {
  border:5px solid #4444;
}
</style>
</html>